-#  This file is app/views/admins/show.html.haml

=render 'layouts/header'

%h1{:class => 'text-center'} Displaying Admin: #{@admin.name}

-#
  %table#clients
    %thead
      %tr
        %th{:class => (session[:sortHighlight]=='name' ? "hilite" : nil)}= link_to "Client Name", "My Name", :id => "name_header"
        %th{:class => (session[:sortHighlight]=='area' ? "hilite" : nil)}= link_to "Service Area", "My Area", :id => "area_header"
        %th{:class => (session[:sortHighlight]=='medical_facility' ? "hilite" : nil)}= link_to "Medical Facility", "My Medical Facility", :id => "medical_facility_header"
        %th{:class => (session[:sortHighlight]=='language' ? "hilite" : nil)}= link_to "Language", "My Language", :id => "language_header"
        %th{:class => (session[:sortHighlight]=='date_completed' ? "hilite" : nil)}= link_to "Date Completed", "10/12/1995", :id => "date_completed"
        %th Complete Info
    %tbody

%h2 Unprocessed Forms
%table#unprocessed_forms
  %thead
    %tr
      %th{:width => '160'}= link_to "Name", admin_path(:id => params[:id], :sort => "last_name")
      %th{:width => '160'}= link_to "Date Submitted", admin_path(:id => params[:id], :sort => "date")
      %th{:width => '160'}= link_to "Medical Facility", admin_path(:id => params[:id], :sort => "medical_facility")
      %th{:width => '160'}= link_to "County", admin_path(:id => params[:id], :sort => "service_area")
      %th{:width => '160'}= link_to "Preferred Language", admin_path(:id => params[:id], :sort => "preferred_language")

  %tbody
    - @unprocessedForms.each do |form|
      %tr
        %td= link_to "#{form.last_name}, #{form.first_name[0]}", showToAdmin_form_path(form)
        %td= form.created_at.strftime("%m/%d/%y")
        %td= form.medical_facility
        %td= form.service_area
        %td= form.preferred_language
%p

%h2 Processed Forms
%table#processed_forms
  %thead
    %tr
      %th{:width => '160'}= link_to "Name", admin_path(:id => params[:id], :sort => "last_name")
      %th{:width => '160'}= link_to "Date Submitted", admin_path(:id => params[:id], :sort => "date")
      %th{:width => '160'}= link_to "Medical Facility", admin_path(:id => params[:id], :sort => "medical_facility")
      %th{:width => '160'}= link_to "County", admin_path(:id => params[:id], :sort => "service_area")
      %th{:width => '160'}= link_to "Preferred Language", admin_path(:id => params[:id], :sort => "preferred_language")

  %tbody
    - @processedForms.each do |form|
      %tr
        %td= link_to "#{form.last_name}, #{form.first_name[0]}", showToAdmin_form_path(form)
        %td= form.created_at.strftime("%m/%d/%y")
        %td= form.medical_facility
        %td= form.service_area
        %td= form.preferred_language

%p
= button_to 'New Client Form', static_pages_disclaimer_path, :method => :get
%p

= button_to 'Create New Admin Account', new_admin_path, :method => :get
%p

= button_to 'Create New Partner Account', new_partner_path, :method => :get

=render 'layouts/footer'
