
<%= render :partial => "layouts/header" %>
<%= render :partial => "layouts/sidebar" %>


                    <!--/.span3-->
                    <div class="span9">
                        <div class="content">
                            <%= render :partial => "layouts/display_statistics" %>

                            <!-- main functions -->
                            <div class="module">
                                <div class="module-head">
                                    <h3>
                                        <%= @user.name%> - Admin Dashboard</h3>
                                </div>
                                <div class="module-body">
                                
                                <%= link_to 'New Client Form', static_pages_disclaimer_path, :method => :get, :class => "btn  btn-warning" %>
                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                <%= link_to 'Create New Admin', new_admin_path, :method => :get, :class => "btn  btn-primary" %>

                                <%= link_to 'Create New Staff', new_staff_path, :method => :get, :class => "btn  btn-info" %>

                                <%= link_to 'Create New Partner', new_partner_path, :method => :get, :class => "btn  btn-success" %>
                                
                                <%= link_to 'View All Users', admins_deactivate_path, :method => :get, :class => "btn  btn-danger" %>

                                </div>
                            </div>

                            <!-- data tables -->
                            <%= render :partial => "layouts/unprocessed_forms" %>
                            <%= render :partial => "layouts/processed_forms" %>

                            
                        </div>
                        <!--/.content-->
                    </div>
                    <!--/.span9-->
                </div>
            </div>
            <!--/.container-->
        </div>
        <!--/.wrapper-->

<%= render :partial => "layouts/footer" %>