-#  This file is app/views/admins/show.html.haml

=render 'layouts/header'

%h1{:class => 'text-center'} Displaying Admin: #{@admin.name}

= render 'layouts/forms_table'

%p
= button_to 'New Client Form', static_pages_disclaimer_path, :method => :get
%p

= button_to 'Create New Admin Account', new_admin_path, :method => :get
%p

= button_to 'Create New Staff Account', new_staff_path, :method => :get

%p
= button_to 'Create New Partner Account', new_partner_path, :method => :get



=render 'layouts/footer'
