%div{:class => 'container master-container'}
  %h1 BCEF Formulario de Admisión
  %div{:class => 'row'}
    %div{:class => 'col-md-9'}

      = form_tag forms_path do

        %div{:class => 'form_group'}
          = label :form, :first_name, "Nombre", :class => 'control-label'
          = text_field :form, :first_name, :class => 'form-control'
        %p

        %div{:class => 'form_group'}
          = label :form, :middle_initial, "Inicial Del Segundo Nombre", :class => 'control-label'
          = text_field :form, :middle_initial, :class => 'form-control'
        %p

        %div{:class => 'form_group'}
          = label :form, :last_name, "Apellido", :class => 'control-label'
          = text_field :form, :last_name, :class => 'form-control'
        %p

        %div{:class => 'form_group'}
          = label :form, :date_of_birth, "Fecha de Nacimiento", :class => 'control-label'
          = text_field :form, :date_of_birth, :class => 'form-control'
        %p

        %div{:class => 'form_group'}
          = label :form, :phone_number, "Telefóno", :class => 'control-label'
          = phone_field :form, :phone_number, :class => 'form-control'
        %p

        %div{:class => 'form_group'}
          = label :form, :preferred_language, "Idioma que Prefiere", :class => 'control-label'
          = select :form, :preferred_language, ["Español"], :class => 'form-control'

        %p
        %div{:class => 'form_group'}
          = label :form, :medical_facility, "Hospital", :class => 'control-label'
          = text_field :form, :medical_facility, :class => 'form-control'

        %p
        %div{:class => 'form_group'}
          = label :form, :cancer_care_provider, "Proveedor de Cuidado Cáncer", :class => 'control-label'
          = text_field :form, :cancer_care_provider, :class => 'form-control'

        %p
        %div{:class => 'form_group'}
          = label_tag "BCEF Area De Servicio"
          %div{:class => 'row'}
            %div{:class => 'col-md-3'}
              %div{:class => 'radio'}
                %label
                  = radio_button :form, :service_area, "San Fransico County", :class => 'radio'
                  Condado de San Francisco
              %div{:class => 'radio'}
                %label
                  = radio_button :form, :service_area, "San Mateo County", :class => 'radio'
                  Condado de San Mateo
              %div{:class => 'radio'}
                %label
                  = radio_button :form, :service_area, "Santa Clara County", :class => 'radio'
                  Condado de Santa Clara

        %p
        %div{:class => 'form_group'}
          = label_tag "Tratamiento Actual para Cáncer del Seno (marque todo que aplica)"
          %div{:class => 'checkbox'}
            %label
              = check_box :form, :surgery, :class => 'checkbox'
              Cirugía actual/pendiente/dentro de los últimos seis meses
          %div{:class => 'checkbox'}
            %label
              = check_box :form, :chemo, :class => 'checkbox'
              Quimioterapia actual/pendiente/dentro de los últimos seis meses
          %div{:class => 'checkbox'}
            %label
              = check_box :form, :radiation, :class => 'checkbox'
              Radiación actual/pendiente/dentro de los últimos seis meses
          %div{:class => 'checkbox'}
            %label
              = check_box :form, :late_stage, :class => 'checkbox'
              Cáncer del seno metastásico/Etapa IV

        %p
        %div{:class => 'form_group'}
          = label_tag "BCEF Requisito de Ingreso Individual de $2,000 por mes o menos"
          %div{:class => 'radio'}
            %label
              = radio_button :form, :income, "Yes", :style => 'vertical-align: middle'
              Sí
          %div{:class => 'radio'}
            %label
              = radio_button :form, :income,  "No", :style => 'vertical-aligh: middle'
              No                 Si no, por favor llame a BCEF para pedir excepción
          %div{:class => 'radio'}
            %label
              = radio_button :form, :income,  "No", :style => 'vertical-aligh: middle'
              Inseguro           Pide que el personal de BCEF verifique ingreso

        %p
        %div{:class => 'form_group'}
          %div{:class => 'checkbox'}
            %label
              = check_box :form, :additional_info
              Hay mas información importante. Favor de llamarme antes de contactar el cliente.

        %p
        %div{:class => 'form_group'}
          %div{:class => 'checkbox'}
            %label
              = check_box :form, :consent
              Mi firma indica que el cliente arriba mencionado ha dado permiso verbal o escrito para que
        %p
        %div{:class => 'form_group'}
          = submit_tag "Enviar el formulario de admisión", :class => 'button'
