%h1 Diplaying Form ID: #{@form.id}

%p First Name:
%p #{@form.first_name}

%p Middle Initial:
%p #{@form.middle_initial}

%p Last Name:
%p #{@form.last_name}

%p Date of Birth:
%p #{@form.date_of_birth}

%p Phone Number:
%p #{@form.phone_number}

%p Preferred Language:
%p #{@form.preferred_language}

%p Medical Facility:
%p #{@form.medical_facility}

%p Cancer Care Provider:
%p #{@form.cancer_care_provider}

%p BCEF Service Area:
%p #{@form.service_area}

%p Active Breast Cancer Treatment:
%p Surgery:
%p #{@form.surgery}
%p Chemo:
%p #{@form.chemo}
%p Radiation:
%p #{@form.radiation}
%p Metastic Breast Cancer/Stage IV:
%p #{@form.late_stage}

%p BCEF Individual Income Requirement of $2,000 or less per month:
%p #{@form.income}

%p Important Additional Information. Please contact me before contacting this client:
%p #{@form.additional_info}
