%p

%div{:class => 'container'}
  %div{:class => 'row'}
    %div{:class => 'col-md-9'}
      %h3 
        %span{ :class => "glyphicon glyphicon-th-list"}
        Previous Forms 
        %small 
          List of submitted forms
      <br/> 
      %table#unprocessed_forms{:class => 'table table-striped'}
        %thead
          %tr
            %th{:width => '160'}= link_to "Name", admin_path(:id => params[:id], :unproc_sort => "last_name")
            %th{:width => '160'}= link_to "Date Submitted", admin_path(:id => params[:id], :unproc_sort => "date")
            %th{:width => '160'}= link_to "Medical Facility", admin_path(:id => params[:id], :unproc_sort => "medical_facility")
            %th{:width => '160'}= link_to "County", admin_path(:id => params[:id], :unproc_sort => "service_area")
            %th{:width => '160'}= link_to "Preferred Language", admin_path(:id => params[:id], :unproc_sort => "preferred_language")
        

        %tbody
          - @all_forms.each do |form|
            %tr
              %td= link_to "#{form.last_name}, #{form.first_name[0]}", showToAdmin_form_path(form)
              %td= form.created_at.strftime("%m/%d/%y")
              %td= form.medical_facility
              %td= form.service_area
              %td= form.preferred_language