%div{:class => 'container'}
  %div{:class => 'row'}
    %div{:class => 'col-md-9'}
      %h2 Unprocessed Forms
      %table#unprocessed_forms
        %thead
          %tr
            %th{:width => '160'}= link_to "Name", user_path(:id => params[:id], :unproc_sort => "last_name")
            %th{:width => '160'}= link_to "Date Submitted", user_path(:id => params[:id], :unproc_sort => "date")
            %th{:width => '160'}= link_to "Medical Facility", user_path(:id => params[:id], :unproc_sort => "medical_facility")
            %th{:width => '160'}= link_to "County", user_path(:id => params[:id], :unproc_sort => "service_area")
            %th{:width => '160'}= link_to "Preferred Language", user_path(:id => params[:id], :unproc_sort => "preferred_language")

        %tbody
          - @unprocessedForms.each do |form|
            %tr
              %td= link_to "#{form.last_name}, #{form.first_name[0]}", showToProcess_form_path(form)
              %td= form.created_at.strftime("%m/%d/%y")
              %td= form.medical_facility
              %td= form.service_area
              %td= form.preferred_language
      %p

      %h2 Processed Forms
      %table#processed_forms
        %thead
          %tr
            %th{:width => '160'}= link_to "Name", user_path(:id => params[:id], :proc_sort => "last_name")
            %th{:width => '160'}= link_to "Date Submitted", user_path(:id => params[:id], :proc_sort => "date")
            %th{:width => '160'}= link_to "Medical Facility", user_path(:id => params[:id], :proc_sort => "medical_facility")
            %th{:width => '160'}= link_to "County", user_path(:id => params[:id], :proc_sort => "service_area")
            %th{:width => '160'}= link_to "Preferred Language", user_path(:id => params[:id], :proc_sort => "preferred_language")

        %tbody
          - @processedForms.each do |form|
            %tr
              %td= link_to "#{form.last_name}, #{form.first_name[0]}", showToUser_form_path(form)
              %td= form.created_at.strftime("%m/%d/%y")
              %td= form.medical_facility
              %td= form.service_area
              %td= form.preferred_language

