                            <div class="module">
                              <div class="module-head">
                                <h3 id="processed_table">
                                  Processed Forms
                                    <% if @user.type == "Partner" %>
                                      <small>Your previously submitted intake forms</small>
                                    <% end %>
                                </h3>
                              </div>
                              <div class="module-body table">
                                <center>
                                <table cellpadding="0" cellspacing="0" border="0"  width="99%" class="datatable-1 table table-bordered table-striped  display" id="processed_forms" name="processed_forms">
                                  <thead>
                                    <tr>
                                      <th id="proc_name">Name</th>
                                      <th id="proc_date">Date Submitted</th>
                                      <th id="proc_facility">Medical Facility</th>
                                      <th id="proc_county">County</th>
                                      <th id="proc_language">Preferred Language</th>
                                      <th id="proc_proc_date">Processed Date</th>
                                      <th id="proc_proc_by">By</th>
                                    </tr>
                                  </thead>
                                  <tbody>
                                    <% @processedForms.each do |form| %>
                                      <tr id="processed">
                                        <td><%= link_to "#{form.last_name}, #{form.first_name[0]}", showToProcess_form_path(form) %></td>
                                        <td><%= form.created_at.strftime("%m/%d/%y") %></td>
                                        <td><%= form.medical_facility %></td>
                                        <td><%= form.service_area %></td>
                                        <td><%= form.preferred_language %></td>
                                        <td id="processed_date"><%= form.updated_at.strftime("%m/%d/%y") %></td>
                                        <td id="processed_by"><%= form.processed_by %></td>
                                      </tr>
                                    <% end %>
                                  </tbody>
                                </table>
                                </center>
                              </div>
                            </div><!--/.module-->                            