        <div class="wrapper">
            <div class="container">
                <div class="row">
                    <div class="span3">
                        <div class="sidebar">
                            <ul class="widget widget-menu unstyled">
                                <li class="active"><a href="<%= user_path(session[:user_id]) %>"><i class="menu-icon fa fa-dashboard"></i>Dashboard
                                </a></li>

                                <li><%= link_to static_pages_disclaimer_path, :method => :get do %>
                                    <i class="menu-icon fa fa-pencil"></i>New Intake Form
                                <% end %></li>

                                <li><a href="<%= user_path(session[:user_id]) %>#processed_table"><i class="menu-icon fa fa-check"></i>Processed Forms <b class="label green pull-right"> 
                                <% if @user.type == "Partner" %>
                                    <%= @stat[:total_processed_user]%>
                                <% else %>
                                    <%= @stat[:total_processed]%>
                                <% end %>
                                </b> </a></li>

                                <li><a href="<%= user_path(session[:user_id]) %>#unprocessed_table"><i class="menu-icon fa fa-calendar"></i>Unprocessed Forms <b class="label orange pull-right">
                                <% if @user.type == "Partner" %>
                                    <%= @stat[:total_unprocessed_user]%>
                                <% else %>
                                    <%= @stat[:total_unprocessed]%>
                                <% end %>
                                </b> </a></li>

                                <li><%= link_to logout_path, :method => :delete do %>
                                    <i class="menu-icon fa fa-sign-out"></i>Logout
                                <% end %></li>

                            </ul>
                            <!--/.widget-nav-->

                            <% if @user.type == "Admin" %>
                            <!-- admin only -->
                            <ul class="widget widget-menu unstyled">

                                <li><%= link_to admins_manage_accounts_path, :method => :get do %>
                                    <i class="menu-icon fa fa-group"></i>Manage Accounts
                                <% end %></li>
                            </ul>
                            <% end %>
                            <!--/.widget-nav-->

                        </div>
                        <!--/.sidebar-->
                    </div>