        <div class="wrapper">
            <div class="container">
                <div class="row">
                    <div class="span3">
                        <div class="sidebar">
                            <ul class="widget widget-menu unstyled">
                                <li class="active"><a href="<%= user_path(session[:user_id]) %>"><i class="menu-icon icon-dashboard"></i>Dashboard
                                </a></li>

                                <li><%= link_to static_pages_disclaimer_path, :method => :get do %>
                                    <i class="menu-icon icon-pencil"></i>New Client Form
                                <% end %></li>

                                <li><a href="#processed_table"><i class="menu-icon icon-check"></i>Processed Forms <b class="label green pull-right"> 
                                <% if @user.type == "Partner" %>
                                    <%= @stat[:total_processed_user]%>
                                <% else %>
                                    <%= @stat[:total_processed]%>
                                <% end %>
                                </b> </a></li>

                                <li><a href="#unprocessed_table"><i class="menu-icon icon-calendar"></i>Unprocessed Forms <b class="label orange pull-right">
                                <% if @user.type == "Partner" %>
                                    <%= @stat[:total_unprocessed_user]%>
                                <% else %>
                                    <%= @stat[:total_unprocessed]%>
                                <% end %>
                                </b> </a></li>

                                <li><%= link_to logout_path, :method => :delete do %>
                                    <i class="menu-icon icon-signout"></i>Logout
                                <% end %></li>

                            </ul>
                            <!--/.widget-nav-->

                            <% if @user.type == "Admin" %>
                            <!-- admin only -->
                            <ul class="widget widget-menu unstyled">

                                <li><%= link_to new_partner_path, :method => :get do %>
                                    <i class="menu-icon icon-user"></i>Create New Partner
                                <% end %></li>

                                <li><%= link_to new_staff_path, :method => :get do %>
                                    <i class="menu-icon icon-user"></i>Create New Staff
                                <% end %></li>

                                <li><%= link_to new_admin_path, :method => :get do %>
                                    <i class="menu-icon icon-user"></i>Create New Admin
                                <% end %></li>

                                <li><%= link_to admins_deactivate_path, :method => :get do %>
                                    <i class="menu-icon icon-exchange"></i>Re/Deactivate Acccount
                                <% end %></li>
                            </ul>
                            <% end %>
                            <!--/.widget-nav-->

                        </div>
                        <!--/.sidebar-->
                    </div>